.App {
  text-align: center;
  background-color: #0E3A61;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Toolbar{
  align-items: flex-start;
  justify-content: center;
  background-color: brown;
}

a{
  text-decoration: none;
  color: white;
  margin: 1vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
